<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pipalapipapalapi.smartplaces"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".SmartPlacesApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity 
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MapDownloaderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TogglesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ToggleViewActivity"
            android:screenOrientation="portrait">
            </activity>
        <activity
            android:name=".activity.MessagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RemindersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReminderViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HereMapActivity"
            android:screenOrientation="portrait" />

        <!--
    Embed the HERE Map Service. 
    For more information, see the HERE SDK Developer's Guide




        -->
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="BNRGQgFRQ32UOjEH9uf9" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="S-w4CmaGQ4SUulDOWUbLNw" />
    </application>

</manifest>